[submodule "microByte_PCB"]
	path = microByte_PCB
	url = https://github.com/jfm92/microByte_PCB
[submodule "microByte_firmware"]
	path = microByte_firmware
	url = https://github.com/jfm92/microByte_firmware
[submodule "microByte_case"]
	path = microByte_case
	url = https://github.com/jfm92/microByte_case
